<div class="container">
  <div class="blog-header">
    <!-- Have nothing at the moment here. -->
  </div>

  <p>Hello, I am Karthik Arun. I am a programmer in Bangalore(India) with 5 years of experience developing applications with Java,J2EE for enterprise clients.</p>
  <h4>My primary skills are as follows</h4>
  <br>
  <ul>
    <li>Java, J2EE, Jquery. Web services (SOAP and REST).</li>
    <li>UNIX shell scripting.</li>
    <li>Ajax based Solutions-Jquery, JSON, Twitter bootstrap, Angular JS.</li>
    <li>Application servers: Weblogic 12C, iplanet</li>
    <li>Web servers: Tomcat.</li>
    <li>Persistence framework: Hibernate.</li>
    <li>Build tools: Ant, Maven.</li>
    <li>Operating systems: Windows, Solaris, Linux.</li>
    <li>Version control: SCME (AT&amp;T proprietary), SVN, GIT.</li>
    <li>Database: Informix, Oracle, MySql.</li>
    <li>Software methodology: Waterfall, Agile.</li>
    <li>Additional skills: Logstash, Elastic search.</li>
  </ul>
  <br>
  <h4>Companies worked for</h4>
  <br>
  <table>
    <tr>
      <td style="padding-right:10px;"><img src="images/ibm.jpg" style="width:100px; height:50px"></td>
      <td style="padding-left:10px;"><img src="images/ATT.png" style="width:100px; height:50px"></td>
    </tr>
  </table>
  <br>
  <a href="docs/Karthik_Arun_resume.pdf" target="_blank">Karthik Arun - Resume</a>
</div>
